  .headEstutura{
     background-image: url("./proz01.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
      background-size: 100%; 
     background-size: cover;  
   max-height: 400px;
   

}  


 
.container{
  font-size: 14px;
    /* display: block;
     padding: 0.5rem 1rem; 
   padding: 0.5rem 1rem; */
 
} 

